```powershell
> aleg
```

<img align="left" src="https://raw.githubusercontent.com/Myrikov/aleg/main/assets/agnes_tachyon.png" alt="Agnes Tachyon" width="310" />

```yaml
aleg@poland
-----------
OS: Windows 11 Pro x86_64 [23H2]
Host: Custom Rig
Shell: PowerShell 7 (pwsh)
Editor: Visual Studio Code
Languages: C#, C++, C, Lua, Python, PowerShell
Interests: Militarism, Tactical Tech, Ballistics, Military History, Gaming
Location: Poland 🇵🇱
Waifu / Muse: Agnes Tachyon (アグネスタキオン) 🧪⚡
Commits (1y): {{ totalCommitsInPastYear }}
Stars: {{ totalStars }}
Status: Speed of light experiments in progress...
```
<p align="left">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://singlecolorimage.com/get/{{.}}/25x20" width="25" height="20" />{{ /colors }}
</p>

<br clear="left"/>
